*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
}

#carousel{
    height: 400px;
    width: 800px;
    margin: 50px auto;
    position: relative;
}

.pics{
    height: 100%;
}

img{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    border-radius: 15px;
    display: none;
}

.active{
    display: block;
}

.btn{
    position: absolute;
    top:50%;
    font-size: 3rem;
    cursor: pointer;
    translate: 0 50%;
}

#before{
    right: 110%;
}

#after{
    left: 110%;
}